body{margin-top:60px}


ul>li, a{cursor: pointer;}

.ng-table tr.emphasis td {
    background-color: #DDD;
    font-weight: bold;
}

.timelinetable td:nth-child(even) {
    border-bottom: 1px solid white;
}
.timelinetable td:nth-child(odd) {
    border-bottom: 1px solid white;
}

.timelinetable th:nth-child(even) {
    border-left: 1px solid black;
}

.timelinetable td:nth-child(even) {
  border-left: 1px solid black;
}

.custom {
    background-color: #DDD;
}

.timelineTitleBig {
    font-size: 120%;
}

.timelineDateSmall {
    font-size: 90%;
}

.margin-top {
    margin-top:12px;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}