 <div class="row">
 	
    <div class="col-md-12" ng-show="topics.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-sm btn-success" href="#/add-topic"><i class="glyphicon glyphicon-plus"></i>Add new Topic</a>
    </div>
    </nav>

        <table class="table  table-condensed" data-show-header="false">
        <thead>
        <th class="none">Topic</th>
        <td class="none">Description</td>
        <th class="none">Action</th>
        <th class="none">Permissions</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in topics | orderBy: ['parentTopic.topicName', 'topicName'] track by $index">
                <td>
                    <b>{{data.parentTopic.topicName}} / {{data.topicName}}</b>
                </td>

                <td>
                    {{data.description}}
                </td>

                <td>
                    <a href="#/edit-topic/{{data.userID}}/{{data.topicID}}" class="btn"><i class="glyphicon glyphicon-edit"></i>Edit Topic</a>
                    <a href="#/timeline/{{data.userID}}/{{data.topicID}}" class="btn"><i class="glyphicon glyphicon-edit"></i>Topic Timeline</a>
                </td>

                <td>
                    <p ng-if="data.userPriv == 0" class="text-success"> public </p>
                    <p ng-if="data.userPriv == 1" class="text-danger"> private </p>

                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="topics.length == 0">
        <div class="col-md-12">
            <h4>No Topics found</h4>
        </div>
    </div>
</div>
