<style type="text/css">
    body    {overflow-y:scroll;}
</style>

<div ng-show="selectedUser" class="row">
    <div class="col-md-3">
        <input type="text" class="form-control" id="b" name="filterSearch" ng-model="filter.search" ng-blur="reloadTable()" placeholder="Search in title">
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="a" name="filterTags" ng-model="filter.tags" ng-blur="reloadTable()" placeholder="Tags (comma seperated)">

    </div>

    <div  class="col-md-3">
        <ui-select ng-change="reloadTable()" ng-model="topic.selected"  ng-disabled="disabled" style="min-width: 200px;" title="Choose a topic">
            <ui-select-match allow-clear placeholder="Select a topic in the list or search">{{$select.selected.topicName}}</ui-select-match>
            <ui-select-choices repeat="topic in topics | propsFilter: {topicName: $select.search}">
                <div ng-bind-html="topic.parentTopic.topicName + ' / ' + topic.topicName | highlight: $select.search"></div>
                <small>
                    {{topic.parentTopic.topicName}}
                    {{topic.topicDescription}}
                </small>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="col-md-3">
        <ui-select
                search-enabled="false"
                ng-change="reloadTable()"
                ng-model="readStat.selected"
                ng-disabled="disabled"

                title="Choose a topic">
            <ui-select-match allow-clear placeholder="Select a readstatus">{{$select.selected.text}}</ui-select-match>
            <ui-select-choices repeat="readStat in readStats">
                <div ng-bind-html="readStat.text"></div>
            </ui-select-choices>
        </ui-select>
    </div>
        <div class="col-md-4" ng-show="!isMy">
        <p class="navbar-text" ng-show="selectedUser">
            User: {{selectedUser.username}}
        </p>
        <p class="navbar-text" ng-show="selectedUser">
            <a href="/services/rss?userid={{selectedUser.userID}}">UserRSS</a>
        </p>
        <p class="navbar-text" ng-show="topic.selected">
            <a href="/services/rss?userid={{selectedUser.userID}}&topicid={{topic.selected.topicID}}">TopicRSS</a>
        </p>
    </div>
</div>

<div class="row"> &nbsp;
</div>
<div class="row">

<div class="row">
    <div class="col-md-12" ng-show="links.length == 0">
        <div class="col-md-12">
            <h4>No links found</h4>
        </div>
    </div>


    <div infinite-scroll='reddit.nextPage(selectedUser.userID, topic, readStat, filter.tags, filter.search)' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='0'>
        <table class="table timelinetable">
        <tr ng-repeat='link in reddit.items'>
            <td class="col-md-2" style="text-align:right" data-title="'DateAdded'" sortable="'dateAdded'" filter="{ 'Date': 'text' }">
                    <span class="timelineTitleBig">
                        {{link.dateAdded | date :dateFormat}}
                    </span><br>

                {{link.topic.topicName}}

                <br>
                <a ng-repeat="tag in link.tags">{{tag.text}}&nbsp;</a>
            </td>

            <td class="col-md-10"  data-title="'LinkName'" sortable="'linkName'" filter="{ 'linkName': 'text' }">
                <span class="timelineTitleBig"> {{link.linkName}} </span>
                <a ng-if="user.userID" class="pull-right" ng-href="#/edit-link/{{link.linkID}}">&#91;Edit&#93;</a>
                <a class="pull-right" href="" ng-click="viewLink(link);">&#91;Details&#93;</a>
                <a ng-if="user.userID" class="pull-right" ng-click="changeLinkReadStatus(link)">&#91;{{link.readStatusTextRo}}&#93;</a>


                <br>
                    <span class="timelineDateSmall">
                    <a ng-href="{{link.linkURL}}"> {{link.linkURL}}</a>
                    </span>
                <br>


                    <span ng-if="link.datePublish">
                        Published: {{link.datePublish | date :'dd.MM.yyyy'}}
                    </span>

                    <span ng-if="link.rating">
                        &nbsp; <rating value="link.rating" max="5" readonly="'true'"></rating>
                    </span>

                <br>
                    <span ng-if="link.linkID == selectedLink.linkID">
                    <div class="custom">
                        <div ng-include="'modules/timeline/view-timeline-link.html'"></div>
                    </div>
                    </span>

            </td>
            <div style='clear: both;'></div>
        </tr>
        </table>

    </div>



</div>

