<div class="view">
    <div class="row">
        <div class="col-md-12">
            Details:
        </div>

        <div ng-if="selectedLink.description">
            <div class="col-md-1">
                Description:
            </div>
            <div class="col-md-11">
                {{selectedLink.description}} &nbsp;
            </div>
        </div>

        <div ng-if="selectedLink.comment">
            <div class="col-md-1">
                Comment:
             </div>
            <div class="col-md-11">
                {{selectedLink.comment}} &nbsp;
            </div>
        </div>
    </div>
</div>
